<div class="tableDiv" ng-app="myApp">


    <form class="example-form">
        <h2 ng-If="this.user.loginname" ng-model="this.user.admin">Register new user</h2>

        <mat-form-field class="example-full-width">
            <mat-label>Login name</mat-label>
            <input matInput required [(ngModel)]="this.user.loginname" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="!!this.user.admin" [ngModelOptions]="{standalone: true}">
            Admin Status
        </mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="!!this.user.active" [ngModelOptions]="{standalone: true}"
            style="margin-left:50px">
            Active
        </mat-slide-toggle>
        <table class="example-full-width" cellspacing="0">
            <p></p>
            <tr>
                <td *ngIf="this.selectedCompany">
                    <mat-form-field class="example-full-width">
                        <mat-label>Company</mat-label>
                        <input matInput [(ngModel)]="this.selectedCompany.name" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td *ngIf="this.selectedCompany">
                    <mat-form-field class="example-full-width">
                        <mat-label>Department</mat-label>
                        <input matInput [(ngModel)]="this.selectedCompany.department"
                            [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Choose a new company</mat-label>
                        <mat-select [(ngModel)]="this.selectedCompany" name="company">
                            <mat-option *ngFor="let company of companies" [value]="company">
                                {{company.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <p></p>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Last name</mat-label>
                        <input matInput [(ngModel)]="this.user.lastname" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>First name</mat-label>
                        <input matInput [(ngModel)]="this.user.firstname" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <p>
            <mat-form-field class="example-full-width">
                <mat-label>E-Mail Address</mat-label>
                <input matInput [(ngModel)]="this.user.email" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" ngModel required matInput [(ngModel)]="this.user.password"
                    [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </p>
        <button mat-raised-button color="primary" (click)="createUser()">Create New User</button>
    </form>
</div>