<div class="tableDiv" ng-app="myApp">

    <form class="example-form">
        <h2 ng-If="this.license.oid">Editing license: {{this.license.oid}} </h2>

        <mat-form-field ng-if="this.license" class="example-full-width">
            <mat-label>License key</mat-label>
            <input matInput ngModel required [(ngModel)]="this.license.key" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
            <p></p>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Product ID</mat-label>
                        <input matInput disabled [(ngModel)]="this.license.tproduct.oid" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Expires</mat-label>
                        <input matInput [(ngModel)]="this.license.expire" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>IP 1</mat-label>
                        <input matInput [(ngModel)]="this.license.ip1" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>IP 2</mat-label>
                        <input matInput [(ngModel)]="this.license.ip2" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>IP 3</mat-label>
                        <input matInput [(ngModel)]="this.license.ip3" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>IP 4</mat-label>
                        <input matInput [(ngModel)]="this.license.ip4" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p></p>
        <button mat-raised-button (click)="updateLicense()" color="primary">Save License</button>
    </form>
</div>