<div class="tableDiv" ng-app="myApp">

    <form class="example-form">
        <h2 ng-If="this.company.name" ng-model="this.company.name">Editing company: {{this.company.name}} </h2>

        <mat-form-field ng-if="this.company" class="example-full-width">
            <mat-label>Company name</mat-label>
            <input matInput required [(ngModel)]="this.company.name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
            <p></p>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Department</mat-label>
                        <input matInput [(ngModel)]="this.company.department" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Country</mat-label>
                        <input matInput [(ngModel)]="this.company.country" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Street Number</mat-label>
                        <input matInput [(ngModel)]="this.company.streetnr" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Street</mat-label>
                        <input matInput [(ngModel)]="this.company.street" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td class="mytd">
                    <h3>Manage Employees</h3>
                    <mat-selection-list [(ngModel)]="this.postEmployees" name="this.postEmployees" [compareWith]="compareFunction">
                        <mat-list-option *ngFor="let user of this.userList" [value]="user">
                            <mat-icon matListIcon>person</mat-icon>
                            {{user.firstname}} {{user.lastname}}
                        </mat-list-option>
                    </mat-selection-list>
                    <p>
                        Employees selected: {{this.postEmployees?.length || '0' }}
                    </p>
                </td>
                <td class="mytd" valign="top">
                    <h3>Manage Service Contracts</h3>
                    <mat-selection-list [(ngModel)]="this.postSercons" name="this.postSercons" [compareWith]="compareFunction">
                        <mat-list-option *ngFor="let sercon of this.serconList" [value]="sercon">
                            <mat-icon matListIcon>list_alt</mat-icon>
                            {{sercon.oid}}
                        </mat-list-option>
                    </mat-selection-list>
                    <p>
                        Service Contracts selected: {{this.postSercons?.length || '0' }}
                    </p>

                </td>
            </tr>
        </table>
        <p></p>
        <button mat-raised-button color="primary" (click)="updateCompany()">Save Company</button>
    </form>
</div>