<mat-toolbar color="primary" class="expanded-toolbar">
    <div class="toolbar-items">

        <div class="menu-header">
            <span>License Manager</span>
        </div>

        <div class="menu-buttons">
            <button mat-button [routerLink]="['/login']" *ngIf="!this.loggedIn">
                <mat-icon>power_settings_new</mat-icon>
                Login
            </button>
            <button mat-button [routerLink]="['/home']">
                Home
            </button>
            <button mat-button *ngIf="this.loggedIn" [routerLink]="['/profile']">
                Profile
            </button>
            <button mat-button *ngIf="this.admin" [routerLink]="['/users']">
                Users
            </button>
            <button mat-button *ngIf="this.admin" [routerLink]="['/companies']">
                Companies
            </button>
            <button mat-button *ngIf="this.admin" [routerLink]="['/licenses']">
                Licenses
            </button>
            <button mat-button *ngIf="this.admin" [routerLink]="['/sercons']">
                Service Contracts
            </button>
            <button mat-button *ngIf="this.loggedIn" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
            </button>
        </div>

    </div>
</mat-toolbar>