<div class="tableDiv" ng-app="myApp">


    <form class="example-form">
        <h2 ng-If="this.user.loginname" ng-model="this.user.admin">Profile of {{this.user.loginname}} </h2>

        <mat-form-field ng-if="this.user" class="example-full-width">
            <mat-label>Login name</mat-label>
            <input matInput ngModel required [(ngModel)]="this.user.loginname" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="!!this.user.admin" [ngModelOptions]="{standalone: true}" [disabled]="!this.currentUser.adminStatus">Admin Status</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="!!this.user.active" [ngModelOptions]="{standalone: true}" [disabled]="!this.currentUser.adminStatus" style="margin-left:50px">
            Active
        </mat-slide-toggle>
        <table class="example-full-width" cellspacing="0">
            <p></p>
            <tr *ngIf="this.user.tcompany">
                <p>Your company: </p>
            </tr>
            <tr>
                <td *ngIf="this.user.tcompany">
                    <mat-form-field class="example-full-width">
                        <mat-label>Company</mat-label>
                        <input matInput [(ngModel)]="this.user.tcompany.name" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td *ngIf="this.user.tcompany">
                    <mat-form-field class="example-full-width">
                        <mat-label>Department</mat-label>
                        <input matInput [(ngModel)]="this.user.tcompany.department" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td *ngIf="!this.user.tcompany && this.updatingOwnProfile">
                    <p>You don't belong to a company, please choose below:</p>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Choose a new company</mat-label>
                        <mat-select [(ngModel)]="this.selectedCompany" name="company">
                            <mat-option *ngFor="let company of companies" [value]="company">
                                {{company.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <p></p>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Last name</mat-label>
                        <input matInput [(ngModel)]="this.user.lastname" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>First name</mat-label>
                        <input matInput [(ngModel)]="this.user.firstname" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <p>
            <mat-form-field class="example-full-width">
                <mat-label>E-Mail Address</mat-label>
                <input matInput [(ngModel)]="this.user.email" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" ngModel required matInput [(ngModel)]="this.user.password" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </p>
        <button *ngIf="this.updatingOwnProfile" mat-raised-button color="primary" (click)="updateMyProfile()">Update my
            profile</button>
        <button *ngIf="!this.updatingOwnProfile" mat-raised-button color="primary" (click)="updateUserAsAdmin()">Save
            user data</button>
    </form>
</div>