<div class="tableDiv" ng-app="myApp">

    <form *ngIf="this.sercon.oid" class="example-form">
        <h2>Editing Service Contract: {{this.sercon.oid}} </h2>

        <mat-form-field *ngIf="this.sercon.tcompany.oid" class="example-full-width">
            <mat-label>Company</mat-label>
            <input matInput [(ngModel)]="this.sercon.tcompany.name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Choose a new company</mat-label>
            <mat-select [(ngModel)]="this.selectedCompany" name="company">
                <mat-option *ngFor="let company of companies" [value]="company">
                    {{company.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
            <p></p>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Start Date</mat-label>
                        <input matInput [(ngModel)]="this.sercon.start" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>End Date</mat-label>
                        <input matInput [(ngModel)]="this.sercon.end" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <h3>Manage Licenses</h3>
                <mat-selection-list [(ngModel)]="this.postLicenses" name="this.postLicenses" [compareWith]="compareFunction">
                    <mat-list-option *ngFor="let license of this.licenseList" [value]="license">
                        <mat-icon matListIcon>list_alt</mat-icon>
                        {{license.oid}}
                    </mat-list-option>
                </mat-selection-list>
                <p>
                    Licenses selected: {{this.postLicenses?.length || '0' }}
                </p>
            </tr>

        </table>
        <p></p>
        <button mat-raised-button (click)="updateServiceContract()" color="primary">Save Service Contract</button>
    </form>
</div>