<div class="tableDiv">

    <div class="items">
        <div class="table-header">
            <h2>Company Management</h2>
        </div>

        <div class="example-button-container">
            <button mat-fab color="primary" [routerLink]="['/companies/addCompany']">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <table mat-table [dataSource]="companyList" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- id Column -->
        <ng-container matColumnDef="oid">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.oid}} </td>
            <td mat-cell></td>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Company Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- streetnr Column -->
        <ng-container matColumnDef="streetNr">
            <th mat-header-cell *matHeaderCellDef> Street No </th>
            <td mat-cell *matCellDef="let element"> {{element.streetnr}} </td>
        </ng-container>

        <!-- street Column -->
        <ng-container matColumnDef="street">
            <th mat-header-cell *matHeaderCellDef> Street </th>
            <td mat-cell *matCellDef="let element"> {{element.street}} </td>
        </ng-container>

        <!-- postalCode Column -->
        <ng-container matColumnDef="postalCode">
            <th mat-header-cell *matHeaderCellDef> Postal Code </th>
            <td mat-cell *matCellDef="let element"> {{element.postalcode}} </td>
        </ng-container>

        <!-- country Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>

        <!-- edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/companies', element.oid]">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                        <button (click)="deleteCompany(element)" mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>delete</span>
                    </button>
                    </mat-menu>
                </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>