<div class="tableDiv" ng-app="myApp">

    <form class="example-form">
        <h2>Editing Service Contract: {{this.sercon.oid}} </h2>


        <mat-form-field class="example-full-width">
            <mat-label>Choose a company</mat-label>
            <mat-select [(ngModel)]="this.selectedCompany" name="company">
                <mat-option *ngFor="let company of companies" [value]="company">
                    {{company.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <table class="example-full-width" cellspacing="0">
            <p></p>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Start Date</mat-label>
                        <input matInput [(ngModel)]="this.sercon.start" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>End Date</mat-label>
                        <input matInput [(ngModel)]="this.sercon.end" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Manage Licenses</h3>
                </td>
            </tr>
            <tr>
                <mat-selection-list [(ngModel)]="this.selectedLicenses" name="this.selectedLicenses">
                    <mat-list-option *ngFor="let license of licenseList" [value]="license">
                        <mat-icon matListIcon>list_alt</mat-icon>
                        {{license.key}}
                    </mat-list-option>
                </mat-selection-list>
                <p>
                    Licenses selected: {{this.selectedLicenses?.length || '0' }}
                </p>
            </tr>
        </table>
        <p></p>
        <button mat-raised-button (click)="createServiceContract()" color="primary">Create new Service Contract</button>
    </form>
</div>