.example-form {
    min-width: 700px;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.example-full-width {
    width: 100%;
}

.property-items {
    display: flex;
    align-items: center;
}

.add-button {
    margin: 8px;
}