<div class="tableDiv" ng-app="myApp">

    <div class="items">
        <div class="table-header">
            <h2>License Management</h2>
        </div>

        <div class="example-button-container">
            <button mat-fab color="primary" [routerLink]="['/licenses/addLicense']">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <table mat-table [dataSource]="licenseList" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- id Column -->
        <ng-container matColumnDef="oid">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.oid}} </td>
        </ng-container>

        <!-- count Column -->
        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> No Licenses </th>
            <td mat-cell *matCellDef="let element"> {{element.licenseCount}} </td>
        </ng-container>

        <!-- key Column -->
        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef> Key </th>
            <td mat-cell *matCellDef="let element"> {{element.key}} </td>
        </ng-container>

        <!-- expires Column -->
        <ng-container matColumnDef="expires">
            <th mat-header-cell *matHeaderCellDef> Expires </th>
            <td mat-cell *matCellDef="let element"> {{element.expire | date}} </td>
        </ng-container>

        <!-- ip1 Column -->
        <ng-container matColumnDef="ip1">
            <th mat-header-cell *matHeaderCellDef> IP1 </th>
            <td mat-cell *matCellDef="let element"> {{element.ip1}} </td>
        </ng-container>

        <!-- ip2 Column -->
        <ng-container matColumnDef="ip2">
            <th mat-header-cell *matHeaderCellDef> IP2 </th>
            <td mat-cell *matCellDef="let element"> {{element.ip2}} </td>
        </ng-container>

        <!-- ip3 Column -->
        <ng-container matColumnDef="ip3">
            <th mat-header-cell *matHeaderCellDef> IP3 </th>
            <td mat-cell *matCellDef="let element"> {{element.ip3}} </td>
        </ng-container>

        <!-- ip4 Column -->
        <ng-container matColumnDef="ip4">
            <th mat-header-cell *matHeaderCellDef> IP4 </th>
            <td mat-cell *matCellDef="let element"> {{element.ip4}} </td>
        </ng-container>

        <!-- serconId Column -->
        <ng-container matColumnDef="serconId">
            <th mat-header-cell *matHeaderCellDef> ServiceContract ID </th>
            <td mat-cell *matCellDef="let element"> {{element.tservicecontract_OID || '-'}} </td>
        </ng-container>

        <!-- productId Column -->
        <ng-container matColumnDef="productId">
            <th mat-header-cell *matHeaderCellDef> Product Version </th>
            <td mat-cell *matCellDef="let element"> {{element.tproduct.version || '-'}} </td>
        </ng-container>

        <!-- edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/licenses', element.oid]">
                    <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                        <button (click)="deleteLicense(element)" mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>delete</span>
                    </button>
                    </mat-menu>
                </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>