<div class="tableDiv">

    <div class="items">
        <div class="table-header">
            <h2>User Management</h2>
        </div>

        <div class="example-button-container">
            <button mat-fab color="primary" [routerLink]="['/users/addUser']">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <table mat-table [dataSource]="userList" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- id Column -->
        <ng-container matColumnDef="oid">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.oid}} </td>
        </ng-container>

        <!-- loginname Column -->
        <ng-container matColumnDef="loginname">
            <th mat-header-cell *matHeaderCellDef> Loginname </th>
            <td mat-cell *matCellDef="let element"> {{element.loginname}} </td>
        </ng-container>

        <!-- active Column -->
        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> Active </th>
            <td mat-cell *matCellDef="let element"> {{!!element.active}} </td>
        </ng-container>

        <!-- admin Column -->
        <ng-container matColumnDef="admin">
            <th mat-header-cell *matHeaderCellDef> Admin </th>
            <td mat-cell *matCellDef="let element"> {{!!element.admin}} </td>
        </ng-container>

        <!-- Lastname Column -->
        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> Lastname </th>
            <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <!-- Firstname Column -->
        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> Firstname </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-Mail </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- company Column -->
        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef> Company </th>
            <td mat-cell *matCellDef="let element"> {{element.tcompany.name}} </td>
        </ng-container>

        <!-- edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                    <mat-menu #menu="matMenu">
                        <!-- <button mat-menu-item [routerLink]="['/profile', element.oid, element.id.tcompany_OID]"> -->
                        <button mat-menu-item [routerLink]="['/profile', element.oid]">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                        <button (click)="deleteUser(element)" mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>delete</span>
                    </button>
                    </mat-menu>
                </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>