<div class="tableDiv" ng-app="myApp">

    <div class="items">
        <div class="table-header">
            <h2>Service Contract Management</h2>
        </div>

        <div class="example-button-container">
            <button mat-fab color="primary" [routerLink]="['/sercons/addServiceContract']">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <table mat-table [dataSource]="serconList" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- id Column -->
        <ng-container matColumnDef="oid">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.oid}} </td>
        </ng-container>

        <!-- start Column -->
        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> Start </th>
            <td mat-cell *matCellDef="let element"> {{element.start | date }} </td>
        </ng-container>

        <!-- end Column -->
        <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef> End </th>
            <td mat-cell *matCellDef="let element"> {{element.end | date }} </td>
        </ng-container>

        <!-- company Column -->
        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef> Company </th>
            <td mat-cell *matCellDef="let element"> {{element.tcompany.name || '-'}} </td>
        </ng-container>

        <!-- edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/sercons', element.oid]">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                        <button (click)="deleteServiceContract(element)" mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>delete</span>
                    </button>
                    </mat-menu>
                </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>