<div class="tableDiv" ng-app="myApp">

    <form class="example-form">
        <h2 ng-model="this.company.name">Creating new company</h2>

        <mat-form-field ng-if="this.company" class="example-full-width">
            <mat-label>Company name</mat-label>
            <input matInput required [(ngModel)]="this.company.name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
            <p></p>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Department</mat-label>
                        <input matInput [(ngModel)]="this.company.department" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Street Number</mat-label>
                        <input matInput [(ngModel)]="this.company.streetnr" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Street</mat-label>
                        <input matInput [(ngModel)]="this.company.street" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Postal Code</mat-label>
                        <input matInput [(ngModel)]="this.company.postalcode" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Country</mat-label>
                        <input matInput [(ngModel)]="this.company.country" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Manage Employees</h3>
                </td>
            </tr>
            <tr>
                <mat-selection-list [(ngModel)]="this.selectedUsers" name="this.selectedUsers">
                    <mat-list-option *ngFor="let user of userList" [value]="user">
                        <mat-icon matListIcon>person</mat-icon>
                        {{user.firstname}} {{user.lastname}}
                    </mat-list-option>
                </mat-selection-list>
                <p>
                    Employees selected: {{this.selectedUsers?.length || '0' }}
                </p>
            </tr>
        </table>
        <p></p>
        <button mat-raised-button color="primary" (click)="createCompany()">Create new company</button>
    </form>
</div>