/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


html * {
  font-family: 'Roboto', "Helvetica Neue", sans-serif; 

  }


.tableDiv {
    width: 90%;
    margin: auto;
  }

  table {
    width: 100%;
  }

  .items {
    margin-top: 20px;
    width:100%;
    min-height: 80px;
}

.table-header {
    float: left;
    margin: none;
}

.example-button-container {
    float: right;
    margin-top: 10px;
  }