<div class="container">
    <img class="img-box" src="/assets/background.jpg" alt="background">
    <div class="top-center">
        <h1>Welcome to the License Manager</h1>
    </div>
    <div *ngIf="!this.loggedIn" class="top-middle">
        <button mat-raised-button [routerLink]="['/login']">Login</button>
        <button mat-raised-button [routerLink]="['/register']">Register</button>
    </div>
    <div *ngIf="this.loggedIn" class="top-middle">
     <h1>You are the user with the User ID: {{this.currentUserId}}</h1>
    </div>
</div>
