.container {
    position: relative;
    text-align: center;
    color: white;
    display: grid;
    height: 100%;
  }

.img-box {
    width: 100%;
    height: 94vh;
}

.top-center {
    position: absolute;
    font-size: 30pt;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .top-middle {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 800px;
    font-size: 15pt;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .top-middle button {
    width: 300px;
    height: 100px;
    font-size: 30pt;
    font-family: 'landaSans';
    font-weight: 400;
  }

  .top-middle h1 {
    letter-spacing: 1px;
    margin: auto;
  }