<div class="tableDiv" ng-app="myApp">


    <form class="example-form">
        <h2>Register yourself!</h2>

        <mat-form-field ng-if="this.user" class="example-full-width">
            <mat-label>Login name</mat-label>
            <input matInput ngModel required [(ngModel)]="this.user.loginname" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
            <p></p>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Choose a company</mat-label>
                        <mat-select required [(value)]="this.selectedCompany" name="company">
                          <mat-option *ngFor="let company of this.companies" [value]="company">
                            {{company.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </td>
                <td>
                    <!-- <mat-form-field class="example-full-width">
                        <mat-label>Department</mat-label>
                        <input matInput [(ngModel)]="selectedCompany.department" [ngModelOptions]="{standalone: true}">
                    </mat-form-field> -->
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Last name</mat-label>
                        <input matInput [(ngModel)]="this.user.lastname" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>First name</mat-label>
                        <input matInput [(ngModel)]="this.user.firstname" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <p>
            <mat-form-field class="example-full-width">
                <mat-label>E-Mail Address</mat-label>
                <input matInput [(ngModel)]="this.user.email" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" ngModel required matInput [(ngModel)]="this.user.password"
                    [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </p>
        <button mat-raised-button color="primary" (click)="saveUser()">Register</button>
    </form>
</div>